.topbar{
    border: 1px solid red;
    /* width: clamp(50%, 70%, 100%); */
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
}

/* .home-content{

} */

.lgsu{
    border: 1px solid red;
}